.bat-colour-split-block {
  color: $white;
  background: linear-gradient(
    to right,
    $cornflower-blue 0%,
    $cornflower-blue 50%,
    $blue-violet 50%,
    $blue-violet 100%
  );
  &__button-col {
    text-align: center;
  }
  &__heading {
    font-family: $font-secondary;
    font-weight: $font-semi-bold;
    font-size: 3.25rem;
  }
  &__content {
    font-family: $font-primary;
    font-weight: $font-regular;
    font-size: $font-size-m;
  }
}
