.bat-colour-split-block {
  padding: $padding-m $padding-m $padding-8 $padding-m;

  background: linear-gradient(
    to bottom,
    $cornflower-blue 0%,
    $cornflower-blue 50%,
    $blue-violet 50%,
    $blue-violet 100%
  );
  @include tablet {
    background: linear-gradient(
      to right,
      $cornflower-blue 0%,
      $cornflower-blue 50%,
      $blue-violet 50%,
      $blue-violet 100%
    );
  }

  &__button-col {
    text-align: center;
  }
  &__heading {
    font-family: $font-secondary;
    font-weight: $font-semi-bold;
    font-size: 3.25rem;
    padding: $padding-5 0;
    color: $white;
    margin: 0;
    @include tablet {
      padding: $padding-7 0 $padding-5 0;
    }
    &--second {
      padding-top: $padding-8;
    }
  }
  &__content {
    font-family: $font-primary;
    font-weight: $font-regular;
    font-size: $font-size-m;
    color: $white;
  }
}
