.bat-content-block {
  padding: $padding-8 0 $padding-8 0;
  text-align: left;
  @include tablet {
    text-align: center;
  }
  &--grandis {
    background-color: $grandis;
  }
  &__text {
    padding: 0 $padding-xl $padding-7;
    @include tablet {
      padding-bottom: $padding-7;
    }
  }
}

.bat-button {
  font-family: $font-secondary;
  font-weight: $font-semi-bold;
  font-size: $font-size-m;
  display: inline-block;
  &--blue {
    background: $blue-violet;
    border-radius: 8px;
    color: $white;
    text-align: center;
    text-decoration: none;
    padding: $padding-l $padding-3;
    margin: 0 auto;
    transition: color 0.6s;
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: $white;
      transition: width 0.3s;
    }
    &:hover,
    &:focus {
      background: $mine-shaft;
      color: $white;
      &:after {
        width: 100%;
      }
    }
  }
  &--mail {
    color: $blue-violet;
    transition: color 0.6s;
    &:hover,
    &:focus {
      color: $mine-shaft;
    }
  }
  &--outline {
    border: 2px solid $white;
    border-radius: 8px;
    color: $white;
    text-align: center;
    text-decoration: none;
    padding: $padding-l $padding-3;
    margin: 0 auto;
    transition: color 0.6s;
    &:after {
      content: "";
      width: 0;
      height: 2px;
      background: $blue-violet;
      display: block;
      transition: width 0.3s;
    }
    &:hover,
    &:focus {
      background: $white;
      color: $blue-violet;
      &:after {
        width: 100%;
      }
    }
  }
}
