.bat-content-block {
  padding: $padding-xl 0 16rem 0;
  text-align: center;
  &--grandis {
    background-color: $grandis;
  }
}

.bat-section-break {
  border: 1px solid transparent;
  &--l {
    margin: 3rem 0;
  }
  &--m {
    margin: 2rem 0;
  }
  &--s {
    margin: 1rem 0;
  }
}

.bat-button {
  font-family: $font-secondary;
  font-weight: $font-semi-bold;
  font-size: $font-size-m;
  &--blue {
    background: $blue-violet;
    border-radius: 8px;
    color: $white;
    text-align: center;
    text-decoration: none;
    padding: $padding-m $padding-xl;
    border: 2px solid $blue-violet;
    margin: 0 auto;
    transition: background 0.6s;
    transition: color 0.6s;
    &:hover {
      background: transparent;
      color: $blue-violet;
    }
  }
  &--mail {
    color: $blue-violet;
    transition: color 0.6s;
    &:hover {
      color: $cornflower-blue;
    }
  }
  &--outline {
    border: 2px solid $white;
    border-radius: 8px;
    color: $white;
    text-align: center;
    text-decoration: none;
    padding: $padding-m $padding-xl;
    margin: 0 auto;
    transition: border 0.6s;
    transition: color 0.4s;
    &:hover {
      border: 2px solid $cornflower-blue;
      color: $cornflower-blue;
    }
  }
}
