.bat-cta-block {
  background-color: $wild-sand;
  &__card {
    background: $wild-sand;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.16);
    border-radius: 2px;
    position: relative;
    top: -150px;
    margin-bottom: -120px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: $padding-5;
  }
  &__item-content {
    padding: $padding-2 0 $padding-4 0;
  }
  &__item-img {
    padding-bottom: $padding-4;
  }
  &__line {
    margin: $margin-7 0;
    border: 1px solid $alto;
    display: none;
    @include tablet {
      display: block;
    }
  }
}
