.bat-features-block {
  &__img {
    width: 100%;
    &--metro {
      @include desktop {
        position: absolute;
      }
    }
  }
  &__wrapper-metro {
    position: relative;
    overflow: visible;
    min-height: 400px;
  }
}
