.bat-footer {
  background-color: $grandis;
  &__text-wrapper {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    padding-bottom: $padding-xl;
    flex-wrap: wrap;
    @include tablet {
      flex-wrap: nowrap;
    }
  }
  &__text {
    margin: 0;
    font-family: $font-secondary;
    font-weight: $font-semi-bold;
    font-size: 1.5rem;
    color: $mine-shaft;
    display: block;
    padding-bottom: $padding-l;
    width: 100%;
    text-align: center;
    @include tablet {
      display: inline;
      padding-bottom: 0;
      width: auto;
      text-align: unset;
    }
  }
  &__text-link {
    text-decoration: none;
    color: $mine-shaft;
    &:after {
      @include tablet {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: $cornflower-blue;
        transition: width 0.3s;
      }
    }
    &:hover {
      color: $cornflower-blue;
      transition: color 0.6s;
      @include tablet {
        &:after {
          width: 100%;
        }
      }
    }
  }
}
