.bat-grid-block {
  padding: $padding-5 0;
  @include tablet {
    padding: $padding-7 0 $padding-6 0;
  }
  background-color: $grandis;
  &__top-row {
    @include tablet {
      padding-bottom: $padding-5;
    }
  }
  &__content-wrapper {
    text-align: center;
    display: flex;
    padding: $padding-m $padding-3;
    margin: 0 auto;
    align-items: center;
    text-align: left;

    @include tablet {
      justify-content: space-evenly;
      display: block;
      text-align: center;
      padding: 0;
    }
  }
  &__img {
    width: 60px;
    @include tablet {
      width: 75px;
    }
  }
  &__text {
    padding-left: $padding-xl;
    font-family: $font-secondary;
    font-weight: $font-semi-bold;
    @include tablet {
      margin-right: 0;
      padding-left: 0;
    }
  }
}
