.bat-hero{
  background-image: url('../assets/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  &__logo-wrapper{
    display: flex;
    justify-content: center;
  }
}