.bat-hero {
  background-image: url("../assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  &__wrapper {
    height: 100vh;
    display: flex;
    position: relative;
  }
  &__logo-wrapper {
    margin: auto;
  }
  &__logo-img {
    width: 100%;
  }
  &__scroll-wrapper {
    text-align: center;
    margin-top: auto;
    bottom: 5px;
    width: 100%;
    position: absolute;
  }
  &__scroll-text {
    font-family: $font-secondary;
    font-size: $font-size-m;
    font-weight: $font-semi-bold;
    color: $white;
    margin: 0;
  }
}
