.bat-hero {
  background-image: url("../assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-color: $mine-shaft;
  height: 100vh;
  &__skip {
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
  }
  &__wrapper {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    display: -ms-flexbox;
    position: relative;
  }
  &__logo-wrapper {
    margin: auto;
    /* ie */
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__logo-img {
    width: 100%;
    animation: grow 0.6s;
    @keyframes grow {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
    }
  }
  &__scroll-wrapper {
    text-align: center;
    margin-top: auto;
    bottom: 8px;
    left: 0;
    width: 100%;
    position: absolute;
    animation: Float 2s ease-in-out infinite;
    @keyframes Float {
      0%,
      to {
        bottom: 0;
      }

      50% {
        bottom: 0.5rem;
      }
    }
  }
  &__scroll-inner {
    display: inline-block;
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform, -webkit-transform;
    &:hover {
      transform: translateY(-3px);
    }
  }
  &__scroll-text {
    font-family: $font-secondary;
    font-size: $font-size-m;
    font-weight: $font-semi-bold;
    color: $white;
    margin: 0;
    display: block;
    cursor: pointer;
  }
}
