.bat-img-content-block {
  background-image: url("../assets/img-content-block-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__img {
    border-radius: 50%;
  }
  &__img-wrapper {
    display: flex;
    justify-content: center;
    padding-top: $padding-l;
    position: relative;
    @include tablet {
      justify-content: flex-end;
      padding: 0;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
