.bat-nav {
  display: flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  padding: $padding-m;
  /* ie */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__link {
    color: $wild-sand;
    text-decoration: none;
    font-family: $font-secondary;
    font-weight: $font-regular;
    font-size: $font-size-m;
    padding: 0 $padding-m;
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: $cornflower-blue;
      transition: width 0.3s;
    }
    &:hover {
      color: $cornflower-blue;
      transition: color 0.6s;
      &:after {
        width: 100%;
      }
    }
  }
}
