.bat-nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  padding: $padding-m;
  &__link {
    color: $wild-sand;
    text-decoration: none;
    font-family: $font-secondary;
    font-weight: $font-semi-bold;
    font-size: $font-size-m;
    padding: 0 $padding-m;
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: $cornflower-blue;
      transition: width 0.3s;
    }
    &:hover {
      color: $cornflower-blue;
      transition: color 0.6s;
      &:after {
        width: 100%;
      }
    }
  }
}
