@import url("https://fonts.googleapis.com/css?family=Dosis|Open+Sans");

.bat-heading {
  margin: 0;
  padding: $padding-l 0;
  &--xl {
    font-family: $font-secondary;
    font-size: $font-size-xl;
    color: $mine-shaft;
    font-weight: $font-medium;
  }
  &--l {
    font-family: $font-secondary;
    font-size: $font-size-l;
    color: $apricot;
    font-weight: $font-regular;
  }
  &--m {
    font-family: $font-secondary;
    font-size: $font-size-m;
    color: $mine-shaft;
    font-weight: $font-regular;
  }
}

.bat-content {
  font-family: $font-primary;
  font-size: $font-size-s;
  margin: 0;
  color: $dove-grey;
}
