/* Colours */
$grandis: #fdd07c;
$lola: #dcccd7;
$blue-violet: #4649b0;
$cornflower-blue: #5593f0;
$cornflower-blue-light: #70a3ef;
$apricot: #ea945f;
$wild-sand: #f6f6f6;
$dove-grey: #6a6a6a;
$mine-shaft: #2f2f2f;
$white: #ffffff;
$alto: #d8d8d8;
/* Breakpoints */
$small-devices-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$xl-screen-width: 1200px;

/* Margins */
$margin-s: 0.25rem;
$margin-m: 0.5rem;
$margin-l: 1rem;
$margin-xl: 2rem;

/* Padding */
$padding-s: 0.25rem;
$padding-m: 0.5rem;
$padding-l: 1rem;
$padding-xl: 2rem;

/* Padding Grid */
$padding-8: 12.5rem;
$padding-7: 10rem;
$padding-5: 5.625rem;
$padding-4: 5rem;
$padding-2: 2.5rem;
