/* Colours */ 
$grandis: #FDD07C;
$lola: #DCCCD7;
$blue-violet: #4649B0;
$cornflower-blue: #5593F0;
$cornflower-blue-light: #70A3EF;
$apricot: #EA945F;
$wild-sand: #F6F6F6;
$dove-grey: #6A6A6A;

/* Breakpoints */
$small-devices-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$xl-screen-width: 1200px;