/* Colours */
$grandis: #fdd07c;
$lola: #dcccd7;
$blue-violet: #4649b0;
$cornflower-blue: #5593f0;
$cornflower-blue-light: #70a3ef;
$apricot: #ea945f;
$wild-sand: #f6f6f6;
$dove-grey: #6a6a6a;
$mine-shaft: #2F2F2F;

/* Breakpoints */
$small-devices-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$xl-screen-width: 1200px;


/* Font size */
$font-size-xl: 4.375rem;
$font-size-l: 3.75rem;
$font-size-m: 2rem;
$font-size-s: 1.5625rem;


/* Fonts */
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Dosis', sans-serif;

/* Font weights */
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

/* Margins */
$margin-s: .25rem;
$margin-m: .5rem;
$margin-l: 1rem;
$margin-xl: 2rem;

/* Padding */
$padding-s: .25rem;
$padding-m: .5rem;
$padding-l: 1rem;
$padding-xl: 2rem;