<section class="bat-colour-split-block">
  <div class="bat-container">
    <div class="bat-row">
      <div class="bat-col">
        <h2 class="bat-colour-split-block__heading">Lorem ipsum dolor</h2>
        <p class="bat-colour-split-block__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          molestie ligula ut lectus venenatis convallis.
        </p>
      </div>
      <div class="bat-col bat-colour-split-block__button-col ">
        <h2 class="bat-colour-split-block__heading">
          Find more on our github <br />
          page documentation
        </h2>
        <a href="#" class="bat-button bat-button--outline">Github page</a>
      </div>
    </div>
  </div>
</section>
