<section class="bat-cta-block">
  <div class="bat-container bat-cta-block__card">
    <div class="bat-row">
      <div class="bat-col">
        <div class="bat-cta-block__item">
          <hr class="bat-section-break bat-section-break--s" />
          <img src="assets/svg/github.svg" />
          <hr class="bat-section-break bat-section-break--s" />
          <h3 class="bat-heading bat-heading--m"">Open source</h3>
          <p class="bat-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Morbi molestie ligula ut lectus venenatis convallis. 
            Phasellus sit amet tristique ex. 
          </p>
          <hr class="bat-section-break bat-section-break--s" />
          <a href="#" class="bat-button bat-button--blue">Download</a>
          <hr class="bat-section-break bat-section-break--s" />
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-cta-block__item">
          <hr class="bat-section-break bat-section-break--s" />
          <img src="assets/svg/email.svg" />
          <hr class="bat-section-break bat-section-break--s" />
          <h3 class="bat-heading bat-heading--m"">Get in touch</h3>
          <p class="bat-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Morbi molestie ligula ut lectus venenatis convallis. 
            Phasellus sit amet tristique ex. 
          </p>
          <hr class="bat-section-break bat-section-break--s" />
          <a href="mailto:info@bookatest.hiv" class="bat-button bat-button--mail">info@bookatest.hiv</a>
          <hr class="bat-section-break bat-section-break--s" />
        </div>
      </div>
    </div>
  </div>
</section>