<section class="bat-cta-block">
  <div class="bat-container bat-cta-block__card">
    <div class="bat-row">
      <div class="bat-col">
        <div class="bat-cta-block__item">
          <img src="assets/svg/icons/github.svg" alt="Github logo" />

          <h3 class="bat-heading bat-heading--m">Open source</h3>
          <p class="bat-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
            molestie ligula ut lectus venenatis convallis. Phasellus sit amet
            tristique ex.
          </p>
          <a href="#" class="bat-button bat-button--blue">Download</a>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-cta-block__item">
          <img src="assets/svg/icons/email.svg" alt="Email Icon" />
          <h3 class="bat-heading bat-heading--m">Get in touch</h3>
          <p class="bat-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
            molestie ligula ut lectus venenatis convallis. Phasellus sit amet
            tristique ex.
          </p>
          <a
            href="mailto:info@bookatest.hiv"
            class="bat-button bat-button--mail"
            >info@bookatest.hiv</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
