<section class="bat-features-block">
  <div class="bat-container">
    <h2 class="bat-heading bat-heading--xl">Features</h2>
    <hr class="bat-section-break bat-section-break--s" />
    <div class="bat-row">
      <div class="bat-col">
        <img
          class="bat-features-block__img"
          src="/assets/svg/mesmac.svg"
          alt="Mesmac Logo"
        />
      </div>
      <div class="bat-col">
        <h2 class="bat-heading bat-heading--l">
          Increase your <br />
          capability by 50%
        </h2>
        <p class="bat-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          molestie ligula ut lectus venenatis convallis. Phasellus sit amet
          tristique ex.
        </p>
      </div>
    </div>
    <div class="bat-row">
      <div class="bat-col">
        <h2 class="bat-heading bat-heading--l">
          Increase your <br />
          capability by 50%
        </h2>
        <p class="bat-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          molestie ligula ut lectus venenatis convallis. Phasellus sit amet
          tristique ex.
        </p>
      </div>
      <div class="bat-col bat-feature-block bat-features-block__wrapper-metro">
        <img
          class="bat-features-block__img bat-features-block__img--metro"
          src="/assets/svg/metro.svg"
          alt="Metro logo"
        />
      </div>
    </div>
  </div>
</section>
