<section class="bat-features-block">
  <div class="bat-container">
    <h2 class="bat-features-block__title">Features</h2>
    <div class="bat-features-block__top-row bat-row bat-row--full">
      <div class="bat-col">
        <img
          class="bat-features-block__img"
          src="/assets/svg/mesmac.svg"
          alt="Mesmac Logo"
        />
      </div>
      <div class="bat-col bat-features-block__content-wrapper">
        <div class="bat-features-block__content">
          <h3 class="bat-features-block__content-title">
            Increase your <br />
            capability by 50%
          </h3>
          <p class="bat-features-block__content-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
            molestie ligula ut lectus venenatis convallis. Phasellus sit amet
            tristique ex.
          </p>
        </div>
      </div>
    </div>
    <div class="bat-row bat-row--full">
      <div class="bat-col bat-features-block__content-wrapper">
        <div class="bat-features-block__content">
          <h3 class="bat-features-block__content-title">
            Increase your <br />
            capability by 50%
          </h3>
          <p class="bat-features-block__content-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
            molestie ligula ut lectus venenatis convallis. Phasellus sit amet
            tristique ex.
          </p>
        </div>
      </div>
      <div class="bat-col bat-feature-block bat-features-block__wrapper-metro">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="/assets/svg/metro-full.svg"
          />
          <source
            media="(min-width: 992px)"
            srcset="/assets/svg/metro-crop.svg"
          />
          <img
            class="bat-features-block__img bat-features-block__img--metro"
            src="/assets/svg/metro-full.svg"
            alt="Metro logo"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
