<section class="bat-grid-block">
  <div class="bat-container">
    <div class="bat-grid-block__top-row bat-row">
      <div class="bat-col">
        <div class="bat-grid-block__content-wrapper">
          <img
            class="bat-grid-block__img"
            src="/assets/svg/icons/book.svg"
            alt="Book icon"
          />
          <p class="bat-grid-block__text">
            Easy to book <br />
            appointments
          </p>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-grid-block__content-wrapper">
          <img
            class="bat-grid-block__img"
            src="/assets/svg/icons/sms-email.svg"
            alt="Sms and email icon"
          />
          <p class="bat-grid-block__text">
            SMS/ Email <br />
            notifications
          </p>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-grid-block__content-wrapper">
          <img
            class="bat-grid-block__img"
            src="/assets/svg/icons/geo.svg"
            alt="Geolocation icon"
          />
          <p class="bat-grid-block__text">
            Geolocation
          </p>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-grid-block__content-wrapper">
          <img
            class="bat-grid-block__img"
            src="/assets/svg/icons/phone-note.svg"
            alt="Phone note icon"
          />
          <p class="bat-grid-block__text">
            Calendar <br />
            integration
          </p>
        </div>
      </div>
    </div>
    <div class="bat-row">
      <div class="bat-col">
        <div class="bat-grid-block__content-wrapper">
          <img
            class="bat-grid-block__img"
            src="/assets/svg/icons/graph.svg"
            alt="Graph icon"
          />
          <p class="bat-grid-block__text">
            Analytic insight for <br />
            continual improvement
          </p>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-grid-block__content-wrapper">
          <img
            class="bat-grid-block__img"
            src="/assets/svg/icons/widgit.svg"
            alt="Widgit icon"
          />
          <p class="bat-grid-block__text">
            Integrate on existing <br />
            website via widget
          </p>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-grid-block__content-wrapper">
          <img
            class="bat-grid-block__img"
            src="/assets/svg/icons/data-collect.svg"
            alt="Data collect icon"
          />
          <p class="bat-grid-block__text">
            Data collection for <br />
            Public Health England
          </p>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-grid-block__content-wrapper">
          <img
            class="bat-grid-block__img"
            src="/assets/svg/icons/open-source.svg"
            alt="Open source icon"
          />
          <p class="bat-grid-block__text">
            Free and <br />
            open source
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
