<section class="bat-icon-block">
  <div class="bat-container">
    <div class="bat-row">
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/icons/icons/book.svg" alt="Book icon" />
          <p class="bat-icon-block__heading bat-heading bat-heading--m">
            Easy to book <br />
            appointments
          </p>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/icons/sms-email.svg" alt="Sms and email icon" />
          <p class="bat-icon-block__heading bat-heading bat-heading--m">
            SMS/ Email <br />
            notifications
          </p>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/icons/geo.svg" alt="Geolocation icon" />
          <p class="bat-icon-block__heading bat-heading bat-heading--m">
            Geolocation
          </p>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/icons/phone-note.svg" alt="Phone note icon" />
          <p class="bat-icon-block__heading bat-heading bat-heading--m">
            Calendar <br />
            integration
          </p>
        </div>
      </div>
    </div>
    <hr class="bat-section-break bat-section-break--s" />
    <div class="bat-row">
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/icons/graph.svg" alt="Graph icon" />
          <p class="bat-icon-block__heading bat-heading bat-heading--m">
            Analytic insight for <br />
            continual improvement
          </p>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/icons/widgit.svg" alt="Widgit icon" />
          <p class="bat-icon-block__heading bat-heading bat-heading--m">
            Integrate on existing <br />
            website via widget
          </p>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img
            src="/assets/svg/icons/data-collect.svg"
            alt="Data collect icon"
          />
          <p class="bat-icon-block__heading bat-heading bat-heading--m">
            Data collection for <br />
            Public Health England
          </p>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/icons/open-source.svg" alt="Open source icon" />
          <p class="bat-icon-block__heading bat-heading bat-heading--m">
            Free and <br />
            open source
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
