<header role="banner" class="bat-hero">
  <a class="bat-hero__skip" href="#content">Skip navigation</a>
  <include src="nav.html"></include>
  <div class="bat-container bat-hero__wrapper">
    <div class="bat-hero__logo-wrapper">
      <img
        class="bat-hero__logo-img"
        src="/assets/svg/bat-logo.svg"
        alt="Book a Test Logo"
      />
    </div>
    <div class="bat-hero__scroll-wrapper">
      <div class="bat-hero__scroll-inner">
        <span class="bat-hero__scroll-text">Scroll</span>
        <img src="/assets/svg/icons/down-aarow.svg" alt="Down aarow icon" />
      </div>
    </div>
  </div>
</header>
