<header role="banner" class="bat-hero">
  <div class="bat-container bat-hero__wrapper">
    <include src="nav.html"></include>
    <div class="bat-hero__logo-wrapper">
      <img
        class="bat-hero__logo-img"
        src="/assets/svg/bat-logo.svg"
        alt="Book a Test Logo"
      />
    </div>
    <div class="bat-hero__scroll-wrapper">
      <div class="bat-hero__scroll-inner">
        <h5 class="bat-hero__scroll-text">Scroll</h5>
        <img src="/assets/svg/down-aarow.svg" alt="Down aarow icon" />
      </div>
    </div>
  </div>
</header>
