<section class="bat-icon-block">
  <div class="bat-container">
    <div class="bat-row">
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/book.svg" />
          <h3 class="bat-heading bat-heading--m">
            Easy to book <br />
            appointments
          </h3>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/sms-email.svg" />
          <h3 class="bat-heading bat-heading--m">
            SMS/ Email <br />
            notifications
          </h3>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/geo.svg" />
          <h3 class="bat-heading bat-heading--m">
            Geolocation
          </h3>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/phone-note.svg" />
          <h3 class="bat-heading bat-heading--m">
            Calendar <br />
            integration
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
