<section class="bat-icon-block">
  <div class="bat-container">
    <div class="bat-row">
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/book.svg" />
          <h3 class="bat-heading bat-heading--m">
            Easy to book <br />
            appointments
          </h3>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/sms-email.svg" />
          <h3 class="bat-heading bat-heading--m">
            SMS/ Email <br />
            notifications
          </h3>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/geo.svg" />
          <h3 class="bat-heading bat-heading--m">
            Geolocation
          </h3>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/phone-note.svg" />
          <h3 class="bat-heading bat-heading--m">
            Calendar <br />
            integration
          </h3>
        </div>
      </div>
    </div>
    <hr class="bat-section-break bat-section-break--s" />
    <div class="bat-row">
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/graph.svg" />
          <h3 class="bat-heading bat-heading--m">
            Analytic insight for <br />
            continual improvement
          </h3>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/widgit.svg" />
          <h3 class="bat-heading bat-heading--m">
            Integrate on existing <br />
            website via widget
          </h3>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/data-collect.svg" />
          <h3 class="bat-heading bat-heading--m">
            Data collection for <br />
            Public Health England
          </h3>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-icon-block__content-wrapper">
          <img src="/assets/svg/open-source.svg" />
          <h3 class="bat-heading bat-heading--m">
            Free and <br />
            open source
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
