<section class="bat-icon-block">
  <div class="bat-container">
    <div class="bat-row">
      <div class="bat-col">
        <img src="/assets/svg/book.svg" />
        <h3 class="bat-heading bat-heading--m">
          Easy to book appointments
        </h3>
      </div>
      <div class="bat-col">
        <img src="/assets/svg/book.svg" />
        <h3 class="bat-heading bat-heading--m">
          Easy to book appointments
        </h3>
      </div>
      <div class="bat-col">
        <img src="/assets/svg/book.svg" />
        <h3 class="bat-heading bat-heading--m">
          Easy to book appointments
        </h3>
      </div>
      <div class="bat-col">
        <img src="/assets/svg/book.svg" />
        <h3 class="bat-heading bat-heading--m">
          Easy to book appointments
        </h3>
      </div>
    </div>
  </div>
</section>
