<section class="bat-img-content-block">
  <div class="bat-container">
    <div class="bat-row">
      <div class="bat-col bat-col--2">
        <p class="bat-content bat-content--l">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          molestie ligula ut lectus venenatis convallis.
        </p>
      </div>
      <div class="bat-col">
        <div class="bat-img-content-block__img-wrapper">
          <img
            class="bat-img-content-block__img"
            src="/assets/svg/icons/comic-relief.svg"
            alt="Comic Relief Logo"
          />
        </div>
      </div>
    </div>
  </div>
</section>
