<section class="bat-supported-by">
  <div class="bat-container bat-supported-by__wrapper">
    <div class="bat-row">
      <div class="col">
        <h2 class="bat-supported-by__heading">Supported by</h2>
      </div>
    </div>
    <div class="bat-row">
      <div class="bat-col">
        <p class="bat-content bat-supported-by__content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
          molestie ligula ut lectus venenatis convallis. Phasellus sit amet
          tristique ex.
        </p>
      </div>
    </div>
    <div class="bat-row bat-supported-by__logos-wrapper">
      <div class="bat-col">
        <div class="bat-supported-by__logo-wrapper">
          <picture>
            <source srcset="assets/webp/BLGBT.webp" type="image/webp" />
            <source srcset="assets/BLGBT.png" type="image/png" />
            <img
              class="bat-supported-by__logo"
              src="/assets/BLGBT.png"
              alt="Birmingham LGBT logo"
              type="image/png"
            />
          </picture>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-supported-by__logo-wrapper">
          <picture>
            <source srcset="assets/webp/metro-logo.webp" type="image/webp" />
            <source srcset="assets/metro-logo.png" type="image/png" />
            <img
              class="bat-supported-by__logo"
              src="/assets/metro-logo.png"
              alt="Metro logo"
              type="image/png"
            />
          </picture>
        </div>
      </div>
      <div class="bat-col">
        <div class="bat-supported-by__logo-wrapper">
          <picture>
            <source srcset="assets/webp/mesmac-logo.webp" type="image/webp" />
            <source srcset="assets/mesmac-logo.png" type="image/png" />
            <img
              class="bat-supported-by__logo"
              src="/assets/mesmac-logo.png"
              alt="Mesmac logo"
              type="image/png"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
